<form cam-form role="form" >
  <script cam-script type="text/form-script">
    var variableManager = camForm.variableManager;
	
	$scope.options = ['Chưa chọn lý do!','Lý do cá nhân',
					'Quên XNVT','Nghỉ có hưởng lương chưa nộp đơn xin nghỉ',
					'Nghỉ không hưởng lương chưa nộp đơn xin nghỉ',
					'Đi công tác buổi sáng','Đi công tác buổi sáng quên XNVT',
					'Đi công tác chưa nộp giấy phê duyệt','Đi đào tạo chưa nộp giấy phê duyệt',
					'Tự động trừ phép',
					'Lý do khác'];

	$scope.options2 = ['Chưa chọn lý do!','Lý do cá nhân',
					'Quên XNVT','Nghỉ có hưởng lương chưa nộp đơn xin nghỉ',
					'Nghỉ không hưởng lương chưa nộp đơn xin nghỉ',
					'Đi công tác chưa nộp giấy phê duyệt','Đi đào tạo chưa nộp giấy phê duyệt',
					'Tự động trừ phép',
					'Lý do khác'];

	//debugger;
    inject([ '$scope', '$window', '$document', function($scope, $window, $document) {
      camForm.on('form-loaded', function() {
		// console.log('form-loaded');
		// console.log($scope.employee);
      // this callback is executed *before* the variables is loaded from the server.
      // if we declare a variable here, it's value will be fetched as well
		variableManager.fetchVariable('employee');
		$scope.window = $window;
		$scope.document = $document;
    	});
    }]);

	camForm.on('variables-restored', function() {
        $scope.employee = camForm.variableManager.variable('employee').value;
		camForm.variableManager.variableValue('approved', false);
		$scope.come_other_reason();
		$scope.leave_other_reason();
		
    });

	camForm.on('variables-applied', function() {
		$scope.employee.reject_reason = null;
    });

	camForm.on('store', function() {
        camForm.variableManager.variableValue('employee', $scope.employee);
    });

	camForm.on('submit', function(evt) {
		if($scope.formValidate() == true) {
		var mess = "";
		var status = "";
		if($scope.approved == true){
			mess = "phê duyệt";
			status = "Hoàn thành";
		}else{
			mess = "từ chối";
			status = "Cần điền lại lý do";
		}
			var r = $scope.window.confirm("Xác nhận "+mess+" lý do của nhân viên!");
			if (r == true) {
    			// console.log('You pressed OK!');
				$scope.employee.status = status;
			} else {
    			// console.log('You pressed Cancel!');
				evt.submitPrevented = true;
			}
 			delete $scope.employee.$$hashKey;
		} else {
			evt.submitPrevented = true;
		}
    });

	$scope.come_other_reason = function() {
		// console.log($scope.employee.come_reason);
		if($scope.employee.come_reason == 'Lý do khác'){
			$scope.come_other_reason_val = false;
		} else {
			$scope.come_other_reason_val = true;
			$scope.employee.come_other_text = null;
		}
   		// use $scope.selectedItem.code and $scope.selectedItem.name here
   		// for other stuff ...
	}

	$scope.leave_other_reason = function() {
		// console.log($scope.employee.leave_reason);
		if($scope.employee.leave_reason == 'Lý do khác'){
			$scope.leave_other_reason_val = false;
		} else {
			$scope.leave_other_reason_val = true;
			$scope.employee.leave_other_text = null;
		}
	}

	$scope.reject_reason_showhide = function() {
		// console.log($scope.approved);
		if($scope.approved == true){
			$scope.reject_reason_showhide_val = true;
		} else {
			// console.log($scope.employee.reject_reason);
			$scope.employee.reject_reason = "";
			$scope.reject_reason_showhide_val = false;
		}
	}

	$scope.formValidate = function() {
		return true;
	}

	
  </script>
<fieldset>

<legend>Line Manager Approve Reason</legend>
    
<!-- Text input-->
<table style="width:100%">
	  <tr>
	    <td><div class="form-group" style="padding:0 10px 0 0;">
			<label for="date">Date</label>
			<input id="date" name="date" class="form-control" type="text" required ng-model="employee.date" readonly="true"> </div>
		</div></td>
	     <td><div class="form-group">
			<label for="employee_id">Employee ID</label> 
			<input id="employee_id" name="employee_id" class="form-control" type="text" required ng-model="employee.employee_id" readonly="true"> </div>
		</div></td>
	  </tr>
	</table>
	<div class="form-group">
		<label for="employee_name">Employee Name</label> 
		<input id="employee_name" name="employee_name" class="form-control" type="text" required ng-model="employee.employee_name" readonly="true">
	</div>
	<div class="form-group">
		<label for="dept_name">Department</label>
		<input id="dept_name" name="dept_name" class="form-control" type="text" required ng-model="employee.dept_name" readonly="true">
	</div>
	<table style="width:100%">
	  <tr>
	   <td><div class="form-group"  style="padding:0 10px 0 0;">
			<label for="come">Coming Time</label> 
			<input id="come" name="come" class="form-control" type="text" required ng-model="employee.come" readonly="true">
		</div></td>
	    <td><div class="form-group">
			<label for="come_default">Required Coming Default</label> 
			<input id="come_default" name="come_default" class="form-control" type="text" required ng-model="employee.come_default" readonly="true">
		</div></td>
	  </tr>
	</table>
	<div class="form-group">
		<label for="come_reason">Coming Late Reason</label>
		<select id="come_reason" name="come_reason" class="form-control"
			ng-model="employee.come_reason" ng-options="o as o for o in options"  ng-change="come_other_reason()">
		</select>
	</div>
	<div  ng-hide="come_other_reason_val">
		<label for="come_other_text">Employee's Coming Late Reason</label>
		<input id="come_other_text" name="come_other_text" class="form-control" type="text" ng-model="employee.come_other_text">
	</div>
	<table style="width:100%">
	  <tr>
	     <td><div class="form-group" style="padding:0 10px 0 0;">
			<label for="leave">Leaving Time</label> 
			<input id="leave" name="leave" class="form-control" type="text" required ng-model="employee.leave" readonly="true">
		</div></td>
		<td><div class="form-group">
			<label for="leave_default">Required Leaving Time</label> 
			<input id="leave_default" name="leave_default" class="form-control" type="text" required ng-model="employee.leave_default" readonly="true">
		</div></td>
	  </tr>
	</table>
	<div class="form-group">
		<label for="leave_reason">Leaving Early Reason</label>
		<select id="leave_reason" name="leave_reason" class="form-control" 
			ng-model="employee.leave_reason" ng-options="o as o for o in options2"  ng-change="leave_other_reason()">
		</select>
	</div>
	<div  ng-hide="leave_other_reason_val">
		<label for="leave_other_text">Employee's Leaving Early Reason</label>
		<input id="leave_other_text" name="leave_other_text" class="form-control" type="text"  ng-model="employee.leave_other_text">
	</div>
	
	<div class="form-group">
		<label for="approved">Approved</label>
		<input id="approved" name="approved" type="checkbox" cam-variable-name="approved" cam-variable-type="Boolean" ng-change="reject_reason_showhide()"/>
	</div>
	
	<div ng-hide="reject_reason_showhide_val">
		<label for="reject_reason">Enter Your Reject Reason</label>
		<textarea cam-variable-name="reject_reason" cam-variable-type="String" class="form-control" name="reject_reason" ng-model="employee.reject_reason" rows="2"></textarea>
	</div>
	
</fieldset>
</form>